body {
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem; /* Adjust the base font size as needed */
  }
  
  #map {
    height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  .mapObject {
    position: absolute;
    z-index: 2;
  }
  
  #buttonBox-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 5;
    width: 20rem;
    height: 7rem;
    background-color: rgb(101, 101, 101);
    padding: 0.5rem;
    display: none;
  }
  
  #mainButton {
    position: absolute;
    width: 20rem;
    height: 7rem;
    padding: 0.3rem;
    background-color: yellow;
    z-index: 60;
    font-size: 1.5rem; /* Adjust the button font size as needed */
  }
  
  #about-popUpTab {
    position: absolute;
    background-color: rgb(231, 239, 109);
    z-index: 4;
    display: none;
    top: 5vw;
    right: 3vh;
    width: 85vw;
    height: 85vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    display: block;
    overflow: scroll;

  }
  
  #popUpTab-content {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  #popUpTab-titlebox{
    position:fixed;
    width: 85vw;
    height: 5vh;
    background-color: rgb(231, 239, 109);
  }

  #popUpTab-content-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1%;
    text-align: center;
  }

  #popUpTab-content-text{
    background-color: rgb(255, 255, 255);
  }
  
  #about-sidebar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 25vw;
    height: 96vh;
    background-color: rgb(231, 239, 109);
    z-index: 4;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    overflow: scroll;
  }
  
  #sidebar-content {
    color: black;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }


  #sidebar-content-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1%;
    text-align: center;
  }

  #sidebar-titlebox{
    position:fixed;
    top: 0;
    left: 0;
    padding-bottom: 5vh;
    width: 25vw;
    height: 10vh;
    background-color: rgb(231, 239, 109);
  }

  #sidebar-content-text{
    background-color: rgb(255, 255, 255);
  }
  
  #tileImgArray img {
    width: 100%;
    height: 100%;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    /* Adjust styles for mobile devices */
    #buttonBox-container {
      width: 15rem;
      height: 5rem;
    }
  
    #mainButton {
     display: block;
      width: 15rem;
      height: 5rem;
      font-size: 1.2rem; /* Increase the font size for mobile devices */
    }
  
    #about-popUpTab {
      top: 2vw;
      right: 1vh;
      width: 90vw;
      height: 90vh;
      padding-top: 1.5rem;
    }
  
    #about-sidebar {
      width: 30vw;
      padding-top: 1.5rem;
    }
  }